pkgbase = python-cupy-rocm
	pkgdesc = NumPy-like API accelerated with ROCm
	pkgver = 13.4.1
	pkgrel = 4
	url = https://cupy.dev
	arch = x86_64
	license = MIT
	makedepends = rocm-hip-sdk
	makedepends = python-pip
	makedepends = python-setuptools
	depends = rocm-hip-sdk
	depends = python-fastrlock
	depends = python-numpy
	source = https://github.com/cupy/cupy/archive/v13.4.1.tar.gz
	source = https://github.com/NVIDIA/cccl/archive/3a388b7b01512d48474b98389a3e776c8d8f817a.tar.gz
	source = https://github.com/dmlc/dlpack/archive/cd0d5e4ff888b388aef4f9b6bd5d9aa5737a020e.tar.gz
	source = https://github.com/NVIDIA/jitify/archive/1a0ca0e837405506f3b8f7883bacb71c20d86d96.tar.gz
	source = ROCm6_3.patch
	md5sums = e2d5bc3741f04fad276b33772908ae39
	md5sums = c3c1d6a1dc4af521adbcb7dfd3a9c0a8
	md5sums = 116c914e84c24ff66bf8f8c1b9fee4f7
	md5sums = 0fb2589c81179e752d9bc45be72ed992
	md5sums = 7e6f9aa07a2524e83e923a5b89f25c5b

pkgname = python-cupy-rocm
