pkgbase = python-cupy-rocm
	pkgdesc = NumPy-like API accelerated with ROCm
	pkgver = 13.3.0
	pkgrel = 1
	url = https://cupy.dev
	arch = x86_64
	license = MIT
	makedepends = rocm-hip-sdk
	makedepends = python-pip
	makedepends = python-setuptools
	depends = rocm-hip-sdk
	depends = python-fastrlock
	depends = python-numpy
	source = https://github.com/cupy/cupy/archive/1e4a78b77d66840d8e2e15e0d73e98573bf5be22.tar.gz
	source = https://github.com/NVIDIA/cccl/archive/2246a8772a78346d91e580e121cedb820da2648f.tar.gz
	source = https://github.com/dmlc/dlpack/archive/cd0d5e4ff888b388aef4f9b6bd5d9aa5737a020e.tar.gz
	source = https://github.com/NVIDIA/jitify/archive/1a0ca0e837405506f3b8f7883bacb71c20d86d96.tar.gz
	source = Allow_Cython-3_and_resolve_compilation_errors.patch
	md5sums = 435f94c97655931ee4837c67cd46026f
	md5sums = 9f8aa4da2e9812e6d1a60045f5e0a7ab
	md5sums = 116c914e84c24ff66bf8f8c1b9fee4f7
	md5sums = 0fb2589c81179e752d9bc45be72ed992
	md5sums = dad2493312f8719a079415f133ed6c76

pkgname = python-cupy-rocm
